<a href="https://colab.research.google.com/github/takenokao/Penny_HPB/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#分類モデルの作成
#1. 必要なモジュールのインポート

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd



from sklearn.model_selection import train_test_split

# JupyterNotebook上でグラフを表示する設定
%matplotlib inline
# DataFrameで全ての列を表示する設定
pd.options.display.max_columns = None

In [ ]:
#2. データの読み込み（以下、作成）
dataset = pd.read_csv('/content/train.csv', encoding='cp932')


# datasetから「Survived, Pclass, Sex, Age, SibSp, Parch, Fare, Embarked」の列を取得してdatasetに代入する（以下、作成）
dataset = dataset[['Survived','Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]


#最初の5行を表示（以下、作成）
dataset.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [ ]:
#3. データの前処理

# 要約統計量を表示
print(dataset.describe)

<bound method NDFrame.describe of      Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]>

In [ ]:
# 各列の欠損値の数を確認
print(dataset.isnull().sum())

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [ ]:
# ageの欠損値を平均値にて補完
dataset['Age']=dataset['Age'].fillna(dataset['Age'].mean())

In [ ]:
# 乗船者数の多い港を value_counts メソッドで確認
dataset['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [ ]:
# embarkedには、もっとも乗船者数の多い港を代入（以下、作成）
dataset['Embarked'] = dataset['Embarked'].fillna('S')

In [ ]:
# 補完後の欠損値が0であることを確認（以下、作成）
dataset.isnull().any()

Survived    False
Pclass      False
Sex         False
Age         False
SibSp       False
Parch       False
Fare        False
Embarked    False
dtype: bool

In [ ]:
# 乗客数を表示
dataset['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [ ]:
# 横性別、縦生存
pd.crosstab(dataset['Sex'],dataset['Survived'])

Survived    0    1
Sex
female     81  233
male      468  109

In [ ]:
pd.crosstab(dataset['Embarked'],dataset['Survived'])

Survived    0    1
Embarked
C          75   93
Q          47   30
S         427  219

In [ ]:
pd.crosstab(dataset['Pclass'],dataset['Survived'])

Survived    0    1
Pclass
1          80  136
2          97   87
3         372  119

In [ ]:
pd.crosstab(dataset['Embarked'],dataset['Sex'])

Sex       female  male
Embarked
C             73    95
Q             36    41
S            205   441

In [ ]:
dataset["Embarked"][dataset["Embarked"] == "S" ] = 5
dataset["Embarked"][dataset["Embarked"] == "C" ] = 6
dataset["Embarked"][dataset["Embarked"] == "Q"] = 7

dataset.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        5
1         1       1  female  38.0      1      0  71.2833        6
2         1       3  female  26.0      0      0   7.9250        5
3         1       1  female  35.0      1      0  53.1000        5
4         0       3    male  35.0      0      0   8.0500        5

In [ ]:
#性別と年齢についてのデータを引数に取る関数

def child_or_adult(dataset):
    #性別と年齢についてのデータを双方の変数に代入
    sex, age, Pclass = dataset

    #年齢が20歳以上の場合、大人なのでmaleかfemaleを返す。
    if (Pclass <= 1 and age > 13):
        return sex

    #年齢が12歳未満の場合は子供なので、childという値を返す。
    else:
        return 'not-P1adult'

 #child_male_femaleというカラムを作成し、データにapply関数を使って先程の変数を適応
dataset['child_male_female'] = dataset[['Sex','Age','Pclass']].apply(child_or_adult, axis=1)

pd.crosstab(dataset['child_male_female'],dataset['Survived'])

Survived             0    1
child_male_female
female               2   91
male                77   42
not-P1adult        470  209

In [ ]:
#性別と年齢についてのデータを引数に取る関数

def child_or_adult(dataset):
    #性別と年齢についてのデータを双方の変数に代入
    sex, age, Pclass = dataset

    #一等の子供以下
    if (Pclass <= 1 and age < 13 and age >= 1):
        return sex

    #それ以外
    else:
        return 'not-P1child'

#child_male_femaleというカラムを作成し、データにapply関数を使って先程の変数を適応
dataset['c1_male_female'] = dataset[['Sex','Age','Pclass']].apply(child_or_adult, axis=1)

pd.crosstab(dataset['c1_male_female'],dataset['Survived'])

Survived          0    1
c1_male_female
female            1    0
male              0    2
not-P1child     548  340

In [ ]:
#性別と年齢についてのデータを引数に取る関数

def child_or_adult(dataset):
    #性別と年齢についてのデータを双方の変数に代入
    sex, age, Pclass = dataset

    #一等の乳児
    if (Pclass <= 1 and age < 1):
        return sex

    #それ以外
    else:
        return 'not-P1infant'

#child_male_femaleというカラムを作成し、データにapply関数を使って先程の変数を適応
dataset['i1_male_female'] = dataset[['Sex','Age','Pclass']].apply(child_or_adult, axis=1)

pd.crosstab(dataset['i1_male_female'],dataset['Survived'])

Survived          0    1
i1_male_female
male              0    1
not-P1infant    549  341

In [ ]:
#性別と年齢についてのデータを引数に取る関数

def child_or_adult(dataset):
    #性別と年齢についてのデータを双方の変数に代入
    sex, age, Pclass = dataset

    #2等の大人
    if (Pclass < 3 and Pclass > 1 and age >12):
        return sex

    #それ以外
    else:
        return 'not-P2adult'

#child_male_femaleというカラムを作成し、データにapply関数を使って先程の変数を適応
dataset['2a_male_female'] = dataset[['Sex','Age','Pclass']].apply(child_or_adult, axis=1)

pd.crosstab(dataset['2a_male_female'],dataset['Survived'])

Survived          0    1
2a_male_female
female            6   62
male             91    8
not-P2adult     452  272

In [ ]:
#性別と年齢についてのデータを引数に取る関数

def child_or_adult(dataset):
    #性別と年齢についてのデータを双方の変数に代入
    sex, age, Pclass = dataset

    #2等の子供
    if (Pclass <3 and Pclass >1 and age <= 12):
        return sex

    #それ以外
    else:
        return 'not-P2child'

#child_male_femaleというカラムを作成し、データにapply関数を使って先程の変数を適応
dataset['2c_male_female'] = dataset[['Sex','Age','Pclass']].apply(child_or_adult, axis=1)

pd.crosstab(dataset['2c_male_female'],dataset['Survived'])

Survived          0    1
2c_male_female
female            0    8
male              0    9
not-P2child     549  325

In [ ]:
#性別と年齢についてのデータを引数に取る関数

def child_or_adult(dataset):
    #性別と年齢についてのデータを双方の変数に代入
    sex, age, Pclass = dataset

    #三等の大人
    if (Pclass >= 3 and age >= 13):
        return sex

    #それ以外
    else:
        return 'not-P3adult'

#child_male_femaleというカラムを作成し、データにapply関数を使って先程の変数を適応
dataset['3a_male_female'] = dataset[['Sex','Age','Pclass']].apply(child_or_adult, axis=1)

pd.crosstab(dataset['3a_male_female'],dataset['Survived'])

Survived          0    1
3a_male_female
female           60   61
male            284   38
not-P3adult     205  243

In [ ]:
#性別と年齢についてのデータを引数に取る関数

def child_or_adult(dataset):
    #性別と年齢についてのデータを双方の変数に代入
    sex, age, Pclass = dataset

    #三等の子供以下
    if (Pclass >= 3 and age <= 12):
        return sex

    #それ以外
    else:
        return 'not-P3child'

#child_male_femaleというカラムを作成し、データにapply関数を使って先程の変数を適応
dataset['3c_male_female'] = dataset[['Sex','Age','Pclass']].apply(child_or_adult, axis=1)

pd.crosstab(dataset['3c_male_female'],dataset['Survived'])

Survived          0    1
3c_male_female
female           12   11
male             16    9
not-P3child     521  322

In [ ]:
#性別と年齢についてのデータを引数に取る関数

def child_or_adult(dataset):
    #性別と年齢についてのデータを双方の変数に代入
    sex, age, Pclass = dataset

    #三等の乳児
    if (Pclass >=3 and age <= 0):
        return sex

    #それ以外
    else:
        return 'not-P3infants'

#child_male_femaleというカラムを作成し、データにapply関数を使って先程の変数を適応
dataset['3i_male_female'] = dataset[['Sex','Age','Pclass']].apply(child_or_adult, axis=1)

pd.crosstab(dataset['3i_male_female'],dataset['Survived'])

Survived          0    1
3i_male_female
not-P3infants   549  342

In [ ]:
#性別と年齢についてのデータを引数に取る関数

def child_or_adult(dataset):
    #性別と年齢についてのデータを双方の変数に代入
    sex, age = dataset

    #年齢が20歳以上の場合、大人なのでmaleかfemaleを返す。
    if (age > 13):
        return sex

    #年齢が12歳未満の場合は子供なので、childという値を返す。
    else:
        return 'child'

In [ ]:
#child_male_femaleというカラムを作成し、データにapply関数を使って先程の変数を適応
dataset['child_male_female'] = dataset[['Sex','Age']].apply(child_or_adult, axis=1)

In [ ]:
pd.crosstab(dataset['child_male_female'],dataset['Survived'])

Survived             0    1
child_male_female
child               29   42
female              68  212
male               452   88

In [ ]:
def child_or_adult(dataset):
    #性別と年齢についてのデータを双方の変数に代入
    sex, age = dataset
    #年齢が13歳未満の場合、子供なのでmaleかfemaleを返す。
    if (age < 13):
        return sex

    #年齢が13以上の場合は大人
    else:
        return 'adult'

In [ ]:
dataset['adult_male_female'] = dataset[['Sex','Age']].apply(child_or_adult, axis=1)

In [ ]:
pd.crosstab(dataset['adult_male_female'],dataset['Survived'])

Survived             0    1
adult_male_female
adult              520  302
female              13   19
male                16   21

In [ ]:
def infants_or_adult(dataset):
    #性別と年齢についてのデータを双方の変数に代入
    sex, age = dataset


    #年齢が1歳未満の場合、乳児なのでmaleかfemaleを返す。
    if (age < 1):
        return sex

    #年齢が1歳以上の場合は赤ちゃんじゃない
    else:
        return 'notbaby'

In [ ]:
dataset['notbaby_male_female'] = dataset[['Sex','Age']].apply(infants_or_adult, axis=1)

In [ ]:
pd.crosstab(dataset['notbaby_male_female'],dataset['Survived'])

Survived               0    1
notbaby_male_female
female                 0    2
male                   0    5
notbaby              549  335

In [ ]:
# datasetのsexとembarkedをダミー変数に変換してdataset2に代入する
dataset2 = pd.get_dummies(data=dataset, columns=['Sex', 'Embarked'])

In [ ]:
# dataset2のデータの最初の5行を表示（以下、作成）
dataset2.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,child_male_female,c1_male_female,i1_male_female,2a_male_female,2c_male_female,3a_male_female,3c_male_female,3i_male_female,adult_male_female,notbaby_male_female,Sex_female,Sex_male,Embarked_5,Embarked_6,Embarked_7
0,0,3,22.0,1,0,7.2500,male,not-P1child,not-P1infant,not-P2adult,not-P2child,male,not-P3child,not-P3infants,adult,notbaby,0,1,1,0,0
1,1,1,38.0,1,0,71.2833,female,not-P1child,not-P1infant,not-P2adult,not-P2child,not-P3adult,not-P3child,not-P3infants,adult,notbaby,1,0,0,1,0
2,1,3,26.0,0,0,7.9250,female,not-P1child,not-P1infant,not-P2adult,not-P2child,female,not-P3child,not-P3infants,adult,notbaby,1,0,1,0,0
3,1,1,35.0,1,0,53.1000,female,not-P1child,not-P1infant,not-P2adult,not-P2child,not-P3adult,not-P3child,not-P3infants,adult,notbaby,1,0,1,0,0
4,0,3,35.0,0,0,8.0500,male,not-P1child,not-P1infant,not-P2adult,not-P2child,male,not-P3child,not-P3infants,adult,notbaby,0,1,1,0,0

In [ ]:
#4. 目的変数と説明変数の選択
#ここでは、以下の列を使用します。

#目的変数: survived 説明変数: それ以外 列の除外には drop を使います。 データフレーム.drop(columns=除外したい列名)
Y=np.array(dataset2["Survived"])
X=np.array(dataset2.drop(columns=["Survived"]))

# 形状を確認
print("Y=", Y.shape, "X=", X.shape)

Y= (891,) X= (891, 20)

In [ ]:
#5. データの分割
#ここではホールドアウト法でデータを分割します

# X と Y を 機械学習用データとテストデータに7:3に分ける(X_train, X_test, Y_train, Y_test)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

# 機械学習用データを、学習データと検証データに7:3に分ける(X_train, X_valid, Y_train, Y_valid)
X_train, X_valid, Y_train, Y_valid = train_test_split(X_train, Y_train, test_size=0.3, random_state=0)

In [ ]:
# 形状を確認:X_train, X_valid, X_test, Y_train, Y_valid, Y_test（以下、作成）
print("Y_train=", Y_train.shape, ", X_train=", X_train.shape)
print("Y_valid=", Y_valid.shape, ", X_valid=", X_valid.shape)
print("Y_test=", Y_test.shape, ", X_test=", X_test.shape)

Y_train= (436,) , X_train= (436, 20)
Y_valid= (187,) , X_valid= (187, 20)
Y_test= (268,) , X_test= (268, 20)

In [ ]:
#6. モデルの選択
#ロジスティック回帰と決定木、ランダムフォレスト、SVM(ない）の３つのモデルを作成して比較します
# 必要なライブラリのインポート
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import mean_squared_error

In [ ]:
# ロジスティック回帰:警告がでるため「solver='lbfgs'」を与えている
logistic_model = LogisticRegression(solver='lbfgs', multi_class='multinomial', max_iter=1000)
logistic_model.fit(X_train, Y_train)
Y_pred = logistic_model.predict(X_valid)

ValueError: ignored

In [ ]:
# モデルの評価
print(classification_report(Y_valid, Y_pred))

In [ ]:
# 決定木
tree_model = DecisionTreeClassifier(criterion='entropy')
tree_model.fit(X_train,Y_train)
Y_pred = tree_model.predict(X_valid)

In [ ]:
# モデルの評価
print(classification_report(Y_valid,Y_pred))

In [ ]:
# ランダムフォレスト。n_estimatorsは警告を出さないための指定
randomforest_model = RandomForestClassifier(n_estimators=100)
randomforest_model.fit(X_train,Y_train)
Y_pred = randomforest_model.predict(X_valid)

In [ ]:
# モデルの評価
print(classification_report(Y_valid,Y_pred))

In [ ]:
#Kaggle Titanic の サンプル・コード（https://www.kaggle.com/c/titanic/code）を参考にしながら以下を作成してみよう

In [ ]:
# 1等、2等、3等それぞれの階層別に、Survived, Age, SibSp, Parch, Fare の平均を求めよう。
dataset.groupby('Pclass').mean()

In [ ]:
# 性別ごとに、Survived, Age, SibSp, Parch, Fare の平均を求めよう（以下、作成）
dataset.groupby('Sex').mean()

In [ ]:
# 乗客の人数は、1等、2等、3等のどれが多いか？value_counts() で調べよう（以下、作成）
dataset['Pclass'].value_counts()

In [ ]:
# どの階級の人数が多いか、今度はグラフで視覚化しよう。
plt.figure(figsize=(10,8))
sns.set_theme(style='ticks')
sns.countplot(x=dataset.Pclass, hue=dataset.Sex, palette='Set1' )

In [ ]:
# 1等、2等、3等、それぞれはどんな年齢層の乗客が多いか、グラフで視覚化しよう。どんな特徴があるか？（以下、作成）
plt.figure(figsize=(10,8))
sns.set_theme(style='ticks')
sns.stripplot(x=dataset.Pclass, hue=dataset.Age, palette='Set1',linewidth=0.6, jitter= 0.3)

In [ ]:
# 1等、2等、3等の乗客は、それぞれはどこの港から乗船しているか多いか、グラフで視覚化しよう（以下、作成）
plt.figure(figsize=(10,8))
sns.set_theme(style='ticks')
sns.countplot(x=dataset.Pclass, hue=dataset.Embarked, palette='Set1' )

In [ ]:
# 乗客は全体としてどの年齢層が多いか、グラフで視覚化しよう。
plt.figure(figsize=(12,8))
sns.set_color_codes()
sns.distplot(x = dataset.Age, color="y")

In [ ]:
# Fare（チケットの値段）と年齢の散布図を作成しよう（以下、作成）
plt.figure(figsize=(12,8))
sns.scatterplot(x=dataset.Fare, y = dataset.Age)